<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>server_conf</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-vue.min.css"/>
</head>
<body>
<b-container fluid>
    <div id="login">
        <b-input-group size="sm">
            <b-form-input type="password" placeholder="secret" v-model="secret"></b-form-input>
            <b-form-input type="number" placeholder="tokenExp" v-model="tokenExp"></b-form-input>
            <b-button size="sm" variant="outline-primary" @click="login">login</b-button>
        </b-input-group>
    </div>

    <br/>

    <div id="server_conf_table">
        <b-input-group size="sm">
            <b-form-select v-model="server_conf.server_name" :options="server_names"></b-form-select>
            <b-button size="sm" variant="outline-primary" @click="search">search</b-button>
            <b-button size="sm" variant="outline-warning" @click="flush">flush</b-button>
            <b-button size="sm" variant="outline-danger" @click="remove">remove</b-button>
        </b-input-group>

        <b-input-group size="sm">
            <b-form-input placeholder="server_name" v-model="server_conf.server_name"></b-form-input>
            <b-form-input type="number" placeholder="version" v-model="server_conf.version"></b-form-input>
            <b-form-input placeholder="remark" v-model="server_conf.remark"></b-form-input>
            <b-button size="sm" variant="outline-success" @click="create">create</b-button>
        </b-input-group>

        <b-form-textarea placeholder="conf_text" :rows="conf_text_rows"
                         v-model="server_conf.conf_text"></b-form-textarea>

        <br/>

        <b-row>
            <b-col cols="6">
                <b-form-textarea placeholder="plain_base64_text" :rows="base64_text_rows"
                                 v-model="plain_base64_text" @input="enBase64"></b-form-textarea>
            </b-col>
            <b-col cols="6">
                <b-form-textarea placeholder="base64_text" :rows="base64_text_rows"
                                 v-model="base64_text" @input="deBase64"></b-form-textarea>
            </b-col>
        </b-row>

        <br/>

        <b-input-group size="sm">
            <b-form-input type="password" placeholder="conf_text_secret" v-model="conf_text_secret"></b-form-input>
            <b-button size="sm" variant="outline-primary" @click="enAESCBC">decrypt🔼</b-button>
            <b-button size="sm" variant="outline-success" @click="deAESCBC">encrypt🔽</b-button>
        </b-input-group>

        <b-form-textarea placeholder="plain_conf_text" :rows="plain_conf_text_rows"
                         v-model="plain_conf_text"></b-form-textarea>

        <br/>

        <b-table :fields="server_conf_fields" :items="server_confs" @row-selected="onRowSelected" select-mode="single"
                 foot-clone hover responsive small striped selectable></b-table>
    </div>
</b-container>
</body>
<script src="../js/vue.min.js"></script>
<script src="../js/bootstrap-vue.min.js"></script>
<script src="../js/bootstrap-vue-icons.min.js"></script>
<script src="../js/qs.min.js"></script>
<script src="../js/axios.min.js"></script>

<!-- 关于crypto-js的导入与使用：https://www.jianshu.com/p/90540249747d，https://github.com/kjur/jsrsasign/issues/232，https://stackoverflow.com/questions/57416217/cryptojs-encrypt-in-aes-256-cbc-returns-an-unexpected-value -->
<script src="../js/core.min.js"></script>
<script src="../js/enc-base64.min.js"></script>
<script src="../js/md5.min.js"></script>
<script src="../js/evpkdf.min.js"></script>
<script src="../js/jsrsasign-all-min.min.js"></script>

<script src="../js/util.js"></script>
<script src="../js/api.js"></script>

<script>
    let login_vue = new Vue({
        el: '#login',
        data: {
            secret: '',
            tokenExp: 3,
        },
        methods: {
            async login() {
                setSecret(this.secret)
                setTokenExp(this.tokenExp)
                let promise = ping()
                let data = await promise
                if (data !== null) {
                    alert('登录成功: ' + JSON.stringify(data))
                }
            },
            async logined() {
                let promise = ping()
                let data = await promise
                return data !== null
            },
        },
    })

    let server_conf_table_vue = new Vue({
        el: '#server_conf_table',
        data: {
            server_names: [],
            server_conf: {server_name: '', version: '', remark: '', conf_text: ''},
            plain_base64_text: '',
            base64_text: '',
            conf_text_secret: '',
            plain_conf_text: '',
            server_conf_fields: [
                {key: 'id', label: 'id', sortable: true,},
                {key: 'server_name', label: 'server_name',},
                {key: 'version', label: 'version', sortable: true,},
                {key: 'remark', label: 'remark',},
                {key: 'created_at', label: 'created_at', sortable: true,},
            ],
            server_confs: [],
        },
        computed: {
            conf_text_rows() {
                return this.server_conf.conf_text.split("\n").length
            },
            plain_conf_text_rows() {
                return this.plain_conf_text.split("\n").length
            },
            base64_text_rows() {
                const rows1 = this.plain_base64_text.split("\n").length
                const rows2 = this.base64_text.split("\n").length
                return Math.max(rows1, rows2)
            },
        },
        methods: {
            async listAllServerName() {
                let promise = listAllServerName()
                let data = await promise
                if (data == null) {
                    return
                }
                this.server_names = data.list
            },
            async getLastServerConfVersion() {
                if (this.server_conf.server_name === '') {
                    this.server_conf.version = 0
                    return
                }
                let promise = getLastServerConfVersion(this.server_conf.server_name)
                let data = await promise
                if (data == null) {
                    return
                }
                this.server_conf.version = data + 1
            },
            async search() {
                let promise = listServerConf(this.server_conf.server_name, 0)
                let data = await promise
                if (data == null) {
                    return
                }
                this.server_confs = data.list
                for (let i = 0; i < this.server_confs.length; i++) {
                    this.server_confs[i].created_at = formatTimestamp(Date.parse(this.server_confs[i].created_at), 'YYYY-MM-DD HH:mm:ss')
                    this.server_confs[i].updated_at = formatTimestamp(Date.parse(this.server_confs[i].updated_at), 'YYYY-MM-DD HH:mm:ss')
                }
                this.flush()
            },
            async remove() {
                let promise = removeServerConf(this.server_conf.server_name)
                await promise
                alert('删除完成')
                this.flush()
            },
            async create() {
                let promise = addServerConf(this.server_conf.server_name, this.server_conf.version, this.server_conf.remark, this.server_conf.conf_text)
                let data = await promise
                if (data == null) {
                    return
                }
                alert('创建成功: ' + data.conf.id)
                this.server_conf.remark = ''
                this.server_conf.conf_text = ''
                this.flush()
                this.search()
            },
            async onRowSelected(items) {
                if (items.length > 0) {
                    this.server_conf.conf_text = items[0].conf_text
                } else {
                    this.server_conf.conf_text = ''
                }
                this.plain_conf_text = ''
            },
            async flush() {
                this.listAllServerName()
                this.getLastServerConfVersion()
                this.conf_text_secret = ''
                this.plain_conf_text = ''
            },
            enAESCBC() {
                //加密明文
                if (this.conf_text_secret === undefined || this.conf_text_secret == null || this.conf_text_secret === '') {
                    alert('conf_text_secret为空')
                    return
                }
                this.server_conf.conf_text = enAESCBC(this.plain_conf_text, this.conf_text_secret)
            },
            deAESCBC() {
                //解密密文
                if (this.conf_text_secret === undefined || this.conf_text_secret == null || this.conf_text_secret === '') {
                    alert('conf_text_secret为空')
                    return
                }
                this.plain_conf_text = deAESCBC(this.server_conf.conf_text, this.conf_text_secret)
            },
            enBase64() {
                this.base64_text = enBase64(this.plain_base64_text)
            },
            deBase64() {
                this.plain_base64_text = deBase64(this.base64_text)
            },
        },
    })

    async function init() {
        let promise = login_vue.logined()
        let data = await promise
        if (!data) {
            return
        }
        server_conf_table_vue.flush()
    }

    init()
</script>
</html>